<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="sort()">Start</button>
        <button class="btn btn-danger" (click)="randomGenerator()">Create random numbers</button>
        <input type="number" placeholder="Enter size of array" [(ngModel)]="size" />
    </div>
    <div class="col-md-4">
        Enter a list of comma delimited numbers to Sort:
        <input type="text" class="form-control" [(ngModel)]="unsortedValues"
            (blur)="changeUnsorted()" />
    </div>
    <div class="col-md-4">
        Delay Animation in milliseconds(1000ms = 1sec):
        <input type="number" class="form-control" [(ngModel)]="delay" (change)="changedDelay()"/>
    </div>
</div>