<div class="panel panel-header">
    <h3>Bubble Sort</h3>
</div>
<input-view (randomize)="handleRandomize($event)" (sorter)="sort($event)" (delayIt)="delayed($event)"></input-view>
<div class="row">
    <div class="col-md-1 array" *ngFor="let item of array">
        {{item}}
    </div>
</div>
<div class="row">
    <div class="col-md-1 array" *ngFor="let item of sortedarray;let i = index">
        <span [ngClass]="{'bigger':first===i,'smaller':second===j}">{{item}}</span>
    </div>
</div>
 
<div class="col-md-4">
    Swapping {{firstValue}} with {{secondValue}}
</div>